<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<div id="gitment_container"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    id: '<%= page.title %>',
    owner: '<%= theme.gitment.owner %>',
    repo: '<%= theme.gitment.repo %>',
    oauth: {
        client_id: '<%= theme.gitment.client_id %>',
        client_secret: '<%= theme.gitment.client_secret %>',
    },
})
gitment.render('gitment_container')
</script>
<!-- UY END -->
