<!-- gitalk start -->
	<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
	<script>
		var gitalk = new Gitalk({
		    clientID: '909a205c9a12d4606792',
		    clientSecret: '56d8296f536be0b8ae0d1d275fe400031c3b8cd1',
		    repo: 'https://github.com/QiXingjun/QiXingjun.github.io',
		    owner: 'QiXingjun',
		    admin: ['QiXingjun'],
		})
		gitalk.render('gitalk-container')
	</script>
	<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  	<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<!-- gitalk end -->
